{{ define "index" }}

{{ template "header" }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-4">
		<form role="form" method="GET" action="/auth">
			<button type="submit" class="btn btn-default" >Auth</button>
		</form>
		<form role="form" method="POST" action="/download">
			<div class="form-group">
				<label>token</label>
				<input type="text" class="form-control" id="token" name="token" value=""  />
			</div>
			<div class="form-group">
				<label>chatId</label>
				<input type="text" class="form-control" id="chatId" name="chatId"/>
			</div>
<!--			<button type="submit" class="btn btn-default">Submit</button>-->
			<button class="buttonload">
				<i class="fa fa-spinner fa-spin"></i>Loading
			</button>
		</form>
	</div>
	{{ if .Flag }}
		<a href="../assets/img.zip" download>
			<button class="btn"><i class="fa fa-download"></i> Download</button>
		</a>
	{{ end }}
</div>

{{ template "footer" }}

{{ end }}